/* -------------------------------------------------------- */
/* You will need to add more imports eventually.
/* -------------------------------------------------------- */

@import "./theme.css";

/* ------------------------------------------------------------------------------ */
/* You don't need to edit the code for the * universal selector and the body.
/* ------------------------------------------------------------------------------ */

*::before,
*::after {
  box-sizing: border-box;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  font-family: system-ui;
  background: var(--body-bg);
}
h1 {
  width: fit-content;
  height: 50px;
  background-color: var(--header-bg);
  border: 5px solid blue;
}

.design {
  width: 500px;
  height: 600px;
}
.button {
  width: 60px;
  height: 50px;
  background-color: var(-- --header-text);
  text-align: center;
  position: relative;
  left: 2px;
  bottom: 5px;
  font-size: large;
  color: white;
}
.card {
  width: 210px;
  height: 200px;
  background-color: green;
  border: 3px solid black;
  border-radius: 2px;
  font-size: small;
  text-align: center;
  color: white;
  max-width: 300px;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}
